@import "tailwindcss";

@theme {
  --color-primary: #1f2937;
  --color-secondary: #1a1a6d;
  --color-headerColor: #2a2823;
  --color-textColor: #2a2823;
  --color-bgColor: #e8e9eb;
}

.container {
  @apply max-w-7xl w-full mx-auto;
}

.ant-form-item {
  margin: 0px !important;
}

.ant-form-item-label {
  padding: 0px !important;
}

.ant-divider-horizontal {
  margin: 0px !important;
}

.alignStart {
  text-align: start !important;
}

/* Removes arrows for Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Removes arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.pageHeight {
  height: fit-content;
  min-height: calc(100vh - 64px - 80px);
}

@media (min-width: 768px) {
  .pageHeight {
    height: fit-content;
    min-height: calc(100vh - 52px - 80px);
  }
}
